@media screen and (max-width: 576px) {
  .container {
    padding: 0;
    margin: 0;
  }
  .keterangan {
    justify-content: center;
  }
  .job {
    margin-left: 25px;
    text-align: center;
    margin-top: 0px;
    width: 300px;
    height: 25px;
  }
  .kotak {
    padding: 5px 5px;
    width: 315px;
  }
  .contact {
    margin-top: 30px;
  }
}

@media screen and (min-width: 576px) {
  .kotak {
    padding: 5px 10px;
    width: 315px;
  }
}

.contact {
  margin-top: 80px;
}
